#sider {
  width: 300px;
  height: 100%;
  background: #ffffff;
  z-index: 99;
}
#first_area {
  height: 100%;
  background-image: url("../img/background/blurry/3.jpg");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 50px;
}
#first_area p {
  cursor: pointer;
  transition: all 0.5s;
}
#first_area > .titie {
  width: 45%;
  position: relative;
}
#first_area > .titie > p {
  color: #ffffff;
  font-size: 70px;
}
#first_area > .titie > .title_cn {
  font-size: 50px;
  margin-bottom: 10px;
}
#first_area > .titie > p > a {
  font-weight: bold;
  color: #ffc422;
  letter-spacing: 5px;
}
#first_area > .titie > div {
  color: #dddddd;
}
#first_area > .titie > div > p {
  height: 30px;
  color: #dddddd;
}
#first_area > .titie > .button {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#first_area > .titie > .button > .button_download {
  background-color: rgba(237, 159, 2, 0);
  border-color: rgba(237, 157, 2, 0.819608);
  border-width: 3px;
  color: rgba(237, 157, 2, 0.819608);
  padding: 11px 38px;
  font-size: 16px;
  border-radius: 50px;
  margin-right: 25px;
  border-style: solid;
  cursor: pointer;
  transition: all 0.3s;
}
#first_area > .titie > .button > .button_download:hover {
  color: #ffffff;
  background-color: #ed9d02;
}
#first_area > .row {
  width: 120px;
  font-size: 18px;
  position: relative;
}
#first_area > .row > p {
  height: 35px;
}
#first_area > .row > p:hover {
  padding-left: 20px;
}
#first_area > .row > p > a {
  color: #ffffff;
}
@media screen and (max-width: 1000px) {
  #first_area {
    flex-direction: column;
  }
  #first_area > .titie {
    width: 100%;
    text-align: center;
  }
  #first_area > .titie > .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  #first_area > .row {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    align-items: flex-end;
  }
  #first_area > .row > p {
    width: 120px;
  }
  #first_area > .row > p:hover {
    padding-left: 0;
  }
  #first_area > .row > p:hover > a {
    color: #d8d7d7;
  }
}
@media screen and (max-width: 550px) {
  #first_area > .titie > p {
    font-size: 40px;
  }
  #first_area > .titie > .title_cn {
    font-size: 27px;
  }
  #first_area > .row > p {
    font-size: 16px;
    height: 27px;
  }
  #first_area > .row {
    margin-top: 20px;
    width: 120px;
  }
  #first_area > .titie > .button {
    flex-direction: column;
    height: 110px;
    justify-content: space-between;
  }
  #sider {
    background-color: #ffffff;
  }
}
