* {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei";
  user-select: none;
}
html,
body {
  height: 100%;
}
body {
  background-image: url("../img/background/blurry/3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#sider {
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
#sider > ul {
  margin-top: -150px;
  width: 100%;
}
#sider > ul > li {
  position: relative;
  line-height: 50px;
  list-style: none;
  color: #999;
  font-size: 23px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
#sider > ul > li > span {
  position: absolute;
  font-size: 13px;
  left: 100%;
  width: 0;
  opacity: 0;
  height: 50px;
  overflow: hidden;
  text-align: center;
  background-color: #f4f4f4;
}
