* {
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei";
    user-select: none;
}

html,
body {
    height: 100%;
}

@backgroundimg: url("../img/background/blurry/3.jpg");
body {
    background-image: @backgroundimg;
    background-size: cover;
    background-position: 50% 50%;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#sider{
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: #f2f2f2 ;
}